.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #134279;
    color: aliceblue;
  }

.exito {
    background-color: #fbdfc0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.alert-success {
  background-color: #fbdfc0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-color: #dbb381;
}
  