<form [formGroup]="formulario">
    <div *ngIf="!registro; else exito">
      <div class="contenedor">
        <h2>Registrar un cliente</h2>
        <div>
            <span>Nombre:</span>
            <input type="text" formControlName="nombre" class="form-control" id="nombre" 
              [ngClass]="{'is-invalid': formulario.controls['nombre'].invalid && formulario.controls['nombre'].touched}" />
            <div *ngIf="formulario.controls['nombre'].touched && formulario.controls['nombre'].invalid">
              <div *ngIf="formulario.controls['nombre'].errors?.['required']">El nombre es requerido.</div>
              <div *ngIf="formulario.controls['nombre'].errors?.['minlength']">El nombre debe tener al menos 3 caracteres.</div>
            </div>
          </div>
          
          <div>
            <span>Id:</span>
            <input type="text" formControlName="cif" class="form-control" id="cif" 
              [ngClass]="{'is-invalid': formulario.controls['cif'].invalid && formulario.controls['cif'].touched}" />
            <div *ngIf="formulario.controls['cif'].touched && formulario.controls['cif'].invalid">
              <div *ngIf="formulario.controls['cif'].errors?.['required']">El ID es requerido.</div>
              <div *ngIf="formulario.controls['cif'].errors?.['pattern']">El ID solo puede contener caracteres alfanuméricos.</div>
            </div>
          </div>

        <div>
        <span>Dirección:</span>
        <input type="text" formControlName="direccion" class="form-control" id="direccion" [ngClass]="{'is-invalid': formulario.controls['direccion'].invalid && formulario.controls['direccion'].touched}" />
        <div *ngIf="formulario.controls['direccion'].touched && formulario.controls['direccion'].invalid">
          <div *ngIf="formulario.controls['direccion'].errors?.['required']">
            La dirección es requerida.
          </div>
        </div>
      </div>
        <br>
        <div>
          <button [disabled]="formulario.invalid" (click)="nuevoCliente()" class="btn btn-dark">
            Guardar
          </button>
          <br>ㅤ
        </div>
      </div>
    </div>
    <ng-template #exito>
      <div class="exito">
        <h1>¡El registro ha sido exitoso!</h1>
      </div>
      <div class="alert alert-success" role="alert">
        Usted se ha registrado correctamente, Haga click en el link si desea <a [routerLink]="['/inicio']" class="alert-link">Volver a Inicio</a>.
      </div>
    </ng-template>
  </form>
  