<p style="text-align: center; margin: 15px;">{{menuopc}}</p>
<form autocomplete='off' class='form' [formGroup]="formulario">
    <div class='control'>
        <h1>
            Iniciar Sesión
        </h1>
    </div>
    <div class='control block-cube block-input'>
        <input name='username' placeholder='Nombre de Usuario' type='text' formControlName="nombre"
        [ngClass]="{'is-invalid': formulario.controls['nombre'].invalid && formulario.controls['nombre'].touched}" />
        <div class='bg-top'>
            <div class='bg-inner'></div>
        </div>
        <div class='bg-right'>
            <div class='bg-inner'></div>
        </div>
        <div class='bg'>
            <div class='bg-inner'></div>
        </div>
    </div>
    <div class='control block-cube block-input'>
        <input name='password' placeholder='Contraseña' type='password' formControlName="contra"
        [ngClass]="{'is-invalid': formulario.controls['nombre'].invalid && formulario.controls['nombre'].touched}">
        <div class='bg-top'>
            <div class='bg-inner'></div>
        </div>
        <div class='bg-right'>
            <div class='bg-inner'></div>
        </div>
        <div class='bg'>
            <div class='bg-inner'></div>
        </div>
    </div>
    <button class='btn block-cube block-cube-hover' type='button' [disabled]="formulario.invalid" (click)="iniciarSesion()">
        <div class='bg-top'>
            <div class='bg-inner'></div>
        </div>
        <div class='bg-right'>
            <div class='bg-inner'></div>
        </div>
        <div class='bg'>
            <div class='bg-inner'></div>
        </div>
        <div class='text'>
            Iniciar Sesión <mat-icon>input</mat-icon>
        </div>
    </button>
</form>
<div *ngIf="iniciada">
    <div class="alert alert-info m-1" role="alert">Bienvenido {{this.formulario.value.nombre}}</div>
</div>
