article {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    font-size: 0.9em;
    color: aliceblue;

  }
  span {
    display: inline-block;
    width: 22%;
    margin-right: 2%;
    color: aliceblue;

  }
  
  .contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #04203f;
    color: aliceblue;
  }
  
  article {
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;

  }

  table, tbody{
    color: #04203f;
    background-color: aliceblue;
  }
  